[submodule "cd/jenkins/jenkins-job-transfer"]
	path = cd/jenkins/jenkins-job-transfer
	url = https://github.com/sirkkalap/jenkins-job-transfer.git
[submodule "cd/jenkins/provisioning/roles/geerlingguy.java"]
	path = cd/jenkins/provisioning/roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "cd/jenkins/provisioning/roles/geerlingguy.jenkins"]
	path = cd/jenkins/provisioning/roles/geerlingguy.jenkins
	url = https://github.com/geerlingguy/ansible-role-jenkins.git
[submodule "cd/jenkins/provisioning/roles/sirkkalap.jenkins"]
	path = cd/jenkins/provisioning/roles/sirkkalap.jenkins
	url = https://github.com/sirkkalap/ansible-role-jenkins.git
[submodule "ansible/roles/solita.jenkins"]
	path = ansible/roles/solita.jenkins
	url = https://github.com/solita/ansible-role-solita.jenkins.git
