[submodule "cd/jenkins/jenkins-job-transfer"]
	path = cd/jenkins/jenkins-job-transfer
	url = https://github.com/sirkkalap/jenkins-job-transfer.git
[submodule "cd/jenkins/provisioning/roles/geerlingguy.java"]
	path = cd/jenkins/provisioning/roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java.git
[submodule "cd/jenkins/provisioning/roles/geerlingguy.jenkins"]
	path = cd/jenkins/provisioning/roles/geerlingguy.jenkins
	url = https://github.com/geerlingguy/ansible-role-jenkins.git
