package util;

class AnsibleVars {
    static final INVENTORY_ROOT = '{{ inventory_root }}';

    static final PIPELINE_REPO_URL = '{{ pipeline_repo_url | default("") }}';
    static final PIPELINE_PATH = '{{ pipeline_path | default("") }}';

    static final BUILD_APP_HOSTS = [
{% for h in groups["app"] %}
      "{{ hostvars[h]['ansible_host'] | default(h) }}",
{% endfor %}
    ];
}

// vim:ft=groovy
